.about {
  width: 100%;
  background-color: #ab3550;
  padding: 10px 0;
  color: white;
}
.about .container {
  height: 100%;
}
.about .row {
  height: 100%;
  align-items: center;
  justify-content: center;
}
.about .row .div1 {
  text-align: center;
  width: 300px;
  margin-bottom: 20px;
}
.about .row .div1 h2,
p {
  width: 100% !important;
  font-weight: 600;
}
